:root {
  --background-color-header: #f4f4f4;
  --padding-sides-big: max(0rem, calc((100% - 40rem) / 2));
  --padding-sides-small: 0.7rem;
  --padding-sides-small: 1rem;
  --width-numbers: 3.6rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  background-color: white;
  opacity: 0; /* to avoid header flicker when loading */
}

body {
  color: #222;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--background-color-header);

  .top {
    width: 100%;
    padding: max(1.5rem, min(5vw, 3.5rem))
      calc(var(--padding-sides-big) + var(--padding-sides-small)) 1.5rem;

    display: flex;
    align-items: center;
    gap: 1.5rem;

    h1 {
      font-size: 1.5rem;
      color: #333;
      font-weight: 600;
    }
    .toggle {
      cursor: pointer;
      margin-top: 0.15rem;
      background-color: #555;
      height: 1.1rem;
      width: 2rem;
      border-radius: 1.1rem;
      position: relative;
      border: 1px solid white;
      outline: 1px solid #222;
    }
    .toggle.active {
      background-color: #bbb;
      background-color: rgb(0, 165, 0);
    }
    .toggle::after {
      content: '';
      position: absolute;
      left: 0.08rem;
      top: 50%;
      transform: translateY(-50%);
      height: 0.8rem;
      width: 1rem;
      border-radius: 0.8rem;
      background-color: white;
      border: 0.05rem solid #222;
      transition: left 0.05s;
    }
    .toggle.active::after {
      left: 0.72rem;
    }
    .lang {
      margin-left: auto;
      align-self: start;
      span {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    a {
      align-self: start;
      color: inherit;
    }
  }
  .hr {
    border-bottom: 1px solid #222;
  }
}

table {
  width: 100%;
  padding: 0 var(--padding-sides-big);
  border-spacing: 0;
  text-align: center;

  .left {
    text-align: left;
  }

  th ~ th,
  td ~ td {
    width: var(--width-numbers);
  }

  th {
    padding-bottom: 0.4rem;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: capitalize;
    vertical-align: bottom;
    cursor: pointer;
    div {
      width: 100%;
      height: 1px;
      position: relative;
    }
    div::after {
      content: '';
      position: absolute;
      left: 15%;
      width: 70%;
      height: 100%;
      background-color: #333;
    }
  }

  td {
    padding: 0.2rem;
    vertical-align: top;
  }

  tr:first-child td {
    padding-top: 0.5rem;
  }

  tr:nth-child(2n) td {
    background-color: #f4f4f4;
    background-color: #eeea;
    border-top: 1px solid #ddd6;
    border-bottom: 1px solid #ddd6;
  }

  tr:last-child td {
    padding-bottom: 0.5rem;
  }

  th:first-child,
  td:first-child {
    padding-left: var(--padding-sides-small);
  }

  th:last-child,
  td:last-child {
    width: calc(var(--width-numbers) + var(--padding-sides-small));
    padding-right: var(--padding-sides-small);
  }
}
