:root {
  --bacco-white: #fcfcfc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  display: flex;
  justify-content: center;
  background-color: var(--bacco-white);
}

body {
  width: 100%;
  max-width: 40rem;
  margin: 0 3vw min(2vw, 1.5rem);

  color: #222;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: auto repeat(3, 3.6rem);
}

header {
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: max(1.5rem, min(5vw, 3.5rem)) 0 0.5rem;
  margin-bottom: 0.2rem;
  background-color: var(--bacco-white);
  border-bottom: 1px solid #ccc;

  .top {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    h1 {
      font-size: 1.5rem;
      color: #333;
    }
    .toggle {
      cursor: pointer;
      margin-top: 0.15rem;
      background-color: #555;
      height: 1.1rem;
      width: 2rem;
      border-radius: 1.1rem;
      position: relative;
      border: 1px solid var(--bacco-white);
      outline: 1px solid #222;
    }
    .toggle.active {
      background-color: #bbb;
      background-color: rgb(0, 165, 0);
    }
    .toggle::after {
      content: '';
      position: absolute;
      left: 0.08rem;
      top: 50%;
      transform: translateY(-50%);
      height: 0.8rem;
      width: 1rem;
      border-radius: 0.8rem;
      background-color: var(--bacco-white);
      border: 0.05rem solid #222;
    }
    .toggle.active::after {
      left: 0.72rem;
    }
    .lang {
      align-self: start;
      margin-left: auto;
      span {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    a {
      align-self: start;
      color: inherit;
    }
  }

  .table-header {
    .sort {
      display: flex;
      flex-direction: column;
      justify-content: end;

      font-size: 0.9em;
      font-weight: 600;
      text-transform: capitalize;
      text-align: center;
      cursor: pointer;
      div {
        width: 100%;
        height: 1px;
        position: relative;
      }
      div::after {
        content: '';
        position: absolute;
        left: 15%;
        width: 70%;
        height: 100%;
        background-color: #333;
      }
    }
  }
}

.table-contents {
  /* margin-top: 6rem; */
  text-align: center;
}

.left {
  justify-self: start;
}

/* table {
  width: 100%;
  border-spacing: 0;
}

th,
td {
  text-align: start;
}
th ~ th,
td ~ td {
  width: 3.6rem;
  text-align: center;
}
th {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: capitalize;
  vertical-align: bottom;
  cursor: pointer;
  div {
    width: 100%;
    height: 1px;
    position: relative;
  }
  div::after {
    content: '';
    position: absolute;
    left: 15%;
    width: 70%;
    height: 100%;
    background-color: #333;
  }
  padding-bottom: 0.4rem;
}
td {
  font-weight: 400;
  vertical-align: top;
  padding: 0.15rem 0;
}

tr:nth-child(2n) td {
  background-color: #f4f4f4;
  background-color: #eeea;
  border-top: 1px solid #ddd6;
  border-bottom: 1px solid #ddd6;
} */
