:root {
  --bacco-white: #fcfcfc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  display: flex;
  justify-content: center;
  background-color: var(--bacco-white);
}

body {
  width: 100%;
  max-width: 40rem;
  margin: max(1.5rem, min(5vw, 3.5rem)) 3vw min(2vw, 1.5rem);

  position: relative; /* for fixing header & table header */

  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  align-self: stretch;
  display: flex;
  align-items: center;

  h1 {
    display: block;
    font-size: 1.5rem;
    color: #333;
  }
  .toggle {
    cursor: pointer;
    margin-top: 0.2rem;
    background-color: #555;
    margin-left: 1rem;
    height: 1.1rem;
    width: 2rem;
    border-radius: 1.1rem;
    position: relative;
    border: 1px solid var(--bacco-white);
    outline: 1px solid #222;
  }
  .toggle.active {
    background-color: #bbb;
  }
  .toggle::after {
    content: '';
    position: absolute;
    left: 0.08rem;
    top: 50%;
    transform: translateY(-50%);
    height: 0.8rem;
    width: 1rem;
    border-radius: 0.8rem;
    background-color: var(--bacco-white);
    border: 0.05rem solid #222;
  }
  .toggle.active::after {
    left: 0.72rem;
  }
  a {
    align-self: start;
    margin-left: auto;
    color: inherit;
  }
  /* margin-bottom: min(2vw, 1rem); */
  margin-bottom: 2vw;
  margin-bottom: 1.5rem;
}

table {
  width: 100%;
  border-spacing: 0;
}

th,
td {
  text-align: start;
}
th ~ th,
td ~ td {
  width: 3.6rem;
  text-align: center;
}
th {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: capitalize;
  vertical-align: bottom;
  cursor: pointer;
  div {
    width: 100%;
    height: 1px;
    position: relative;
  }
  div::after {
    /* just to get the 70% line center aligned */
    content: '';
    position: absolute;
    left: 15%;
    width: 70%;
    height: 100%;
    background-color: #333;
  }
  padding-bottom: 0.4rem;
}
td {
  font-weight: 400;
  vertical-align: top;
  padding: 0.15rem 0;
}

tr:nth-child(2n) td {
  background-color: #f4f4f4;
  background-color: #eeea;
  border-top: 1px solid #ddd6;
  border-bottom: 1px solid #ddd6;
}

header .toggle.animate {
  transition: background-color 0.1s;
}
header .toggle.animate::after {
  transition: left 0.1s;
}
